@charset "UTF-8";
/* 20240129-7 */


#detail_wrap{
	width:1000px;
	margin:0 auto;
}
.detail_text{
	display:flex;
	align-items:center;
	gap:20px;
	font-size:20px;
	margin-bottom:20px;
}
.hit_box{display:flex; gap:10px;}
.date_bax{display:flex; gap:10px; color:#aaa;}
.title_head{color:#aaa; font-weight:800;}
.content{
	width:100%;
	padding:30px;
	border-top:2px solid #aaa;
	border-bottom:1px solid #ccc;
}
.update_del{text-align:right;}
.update_del button{
	border-radius:10px;
	padding:7px 15px;
	font-size:13px;
	border:0;
	cursor:pointer;
	color:white;
}
.update_del button:nth-child(1){background:#3498db;}
.update_del button:nth-child(2){background:#e74c3c;}

/* 20240130-3 teacher*/
#reply_wrap{
	width:100%;
	position:relative;
	padding:30px;
}
#reply_input{
	border-bottom:2px solid #aaa;
	width:100%;
	padding:5px 0;
}
.input_box{
	display:flex;
	justify-content:space-between;
	padding:10px 25px;
}
#comment{
	width:80%;
	height:72px;
	resize:none;
	font-size:1em;
	padding:10px;
}

.reply_bt{
	width:10%;
	height:35px;
	font-size:1.2em;
	background:#2ecc71;
	border:0;
	border-radius:5px;
	font-weight:700;
	cursor:pointer;
	align-self:end;
}
.reply_list{
	width:100%;
	padding:50px;
}
.reply_list_box li{
	display:flex;
	padding:20px 0;
	border-bottom:1px solid #ccc;
}
.reply_info{
	display:flex;
	flex-direction:column;
	width:15%;
}
.reply_comment{
	width:80%;
	white-space:pre-line;
}
.del_bt{
	width:5%;
	text-align:center
}





